<?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.khs.freelance.user.dao.UserDAO">
  	<insert id="insertSignUp" parameterType="map">
  		INSERT INTO
  			`user`
  			(
  				`loginId`
  				,`password`
  				,`name`
  				,`email`
  				,`job`
  				,`career`
  				,`salary`
  				,`createdAt`
  				,`updatedAt`
  			
  			)
  		VALUES
  			(
  				#{loginId}
  				,#{password}
  				,#{name}
  				,#{email}
  				,#{job}
  				,#{career}
  				,#{salary}
  				,now()
  				,now()
  			)	
  	</insert>
  </mapper>