@charset "UTF-8";
#wrap{
	width:1200px;
	margin:auto;
}

.nav{
	height:60px;
	 background-color:#e3f2fd;
}
.section{
	width:600px;
	margin:auto;

}	
.img{
	
	position:relative;
	width: 100%;
	height: 100%;
}

.content{
	position:absolute;
	top: 20%;
 	left: 50%;
 	transform: translate(-50%, -50%);
}
.section-content{
	font-family: 'Nanum Pen Script', cursive;
}
.section-bg{
	background-color: #cccccc;
	height:600px;
}

.section-div{
	width:800px;
	
	background-color:white;		
}

.search-section{
	width:600px;
}